name: Test YAML Pickup Jan 5th

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Just print message
        run: echo "YAML file is picked and workflow is executing"